<link rel="stylesheet" type="text/css" href="/public/css/login.css">
<div>{{ title }}</div>

<script>
    fetch('/api/user/getUserInfo').then(async res => {
        const response = await res.json();
        console.log(response);
    });
</script>
