<link rel="stylesheet" type="text/css" href="/public/css/login.css">
<div>{{ title }}</div>

<script>
    let cookie = function () {
        let c = document.cookie;

        if (!c) {
            return c;
        } else {
            return [{}, ...c.split(';')].reduce((target, item) => {
                let [key, value] = item.split('=');
                target[key.trim()] = decodeURIComponent(value);
                return target;
            });
        }
    }();

    console.log(cookie);
</script>
