<link rel="stylesheet" type="text/css" href="/public/css/login.css">
<div>{{ title }}</div>

<script>
    let cookie = function () {
        let c = document.cookie;

        if (!c) {
            return c;
        } else {
            return [{}, ...c.split(';')].reduce((target, item) => {
                let [key, value] = item.split('=');
                target[key.trim()] = decodeURIComponent(value);
                return target;
            });
        }
    }();

    fetch('/api/user/logout', {
        method: 'POST',
        body: JSON.stringify({a: 123131})
    }).then(res => {
        console.log(res);
    });
</script>
